@{
  Layout = "_Layout";
}


<div class="container">
<h1>Welcome to Pierre's!
<hr>
</h1>
<h3><a href='/vendors'>View vendors</a></h3>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>





</div>
<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqeViWZBcmMA8rsgqn0eNROr0XPsLQo38KfuuebO89xc9Y0nS5ZA">